<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let city of cities">
    <mat-card class="city-card">
      <mat-card-header>
        <mat-card-title>
          {{city.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{city.cityInfo.description}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="city.cityInfo.img">
      <mat-card-content>
        {{city.cityInfo.continent}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
