<div class="divSeachPanel">
  <div class="divMatFieldSearch">
    <mat-form-field class="search-input-data">
      <input matInput placeholder="параметры поиска..." [formControl]="termValidatorCtrl" [(ngModel)]="term" required>
      <mat-error *ngIf="termValidatorCtrl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" class="btnSearch" (click)="btnSearchData()">Найти</button>
  </div>
</div>

<mat-list *ngIf="items != null; else loader">
  <mat-list-item *ngFor="let item of items; index as i;"
                 class="matItem"
                 [style.background-color]="i % 2 == 0 ? '#e4e4e4' : '#d7f5d8'">
    <img matListAvatar [src]="item.owner.avatar_url">
    <h3 matLine> {{item.name}} </h3>
    <p matLine>
      <span>Описание: {{item.description}} </span>
    </p>
    <p matLine>
      <span>Адрес: <a [href]="item.html_url">{{item.html_url}}</a></span>
    </p>
  </mat-list-item>
</mat-list>

<ng-template #loader>
  <div class="load-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
